#topBar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 11;
}

#labelBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.die-label {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
}

.result-panel {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: bold;
}

.result-complete {
    background: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    font-family: sans-serif;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: bold;
    color: limegreen;
}

.luck-panel {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: bold;
}